@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .prose {
    --tw-prose-body: var(--vscode-foreground);
    --tw-prose-headings: var(--vscode-foreground);
    --tw-prose-lead: var(--vscode-descriptionForeground);
    --tw-prose-links: var(--vscode-textLink-foreground);
    --tw-prose-bold: var(--vscode-foreground);
    --tw-prose-counters: var(--vscode-descriptionForeground);
    --tw-prose-bullets: var(--vscode-descriptionForeground);
    --tw-prose-hr: var(--vscode-panel-border);
    --tw-prose-quotes: var(--vscode-foreground);
    --tw-prose-quote-borders: var(--vscode-focusBorder);
    --tw-prose-captions: var(--vscode-descriptionForeground);
    --tw-prose-kbd: var(--vscode-foreground);
    --tw-prose-kbd-shadows: var(--vscode-focusBorder);
    --tw-prose-code: var(--vscode-foreground);
    --tw-prose-pre-code: var(--vscode-editor-foreground);
    --tw-prose-pre-bg: var(--vscode-editor-background);
    --tw-prose-th-borders: var(--vscode-panel-border);
    --tw-prose-td-borders: var(--vscode-panel-border);
  }
}
